@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== Ajustes globais ==== */

html, body {
  height: 100%;
}

/* Suavização da fonte */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* fundo cinza claro */
}

/* ==== Scrollbar invisível (usado nas categorias) ==== */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
